<ul class="nav nav-tabs">
         <li ng-class="{active: activetab == '/'}"><a href="#/disciplinas">Disciplinas</a></li>
      </ul>
<div  ng-controller="AssuntosController as Assunto">
<div id="subjects" class="row">
        <div class="col-xs-12 col-sm-4">
          <h3>Próximos Eventos</h3>
          <ul class="list-group">

            <li class="list-group-item" ng-repeat="list in Assunto.listarEventos">
             
              <span class="label label-primary" ng-show="list.Date == 'Agora'">{{list.Date}}</span>
              <span class="label label-success" ng-show="list.Date != 'Agora'">{{list.Date}}</span>
              
              	<h4>{{list.Name}} </h4>

              	{{list.Person}}
              </p>
            </li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-8">
          <h3>Assuntos</h3>
          <h4 ng-repeat="list in Assunto.listarAssuntos" class="pull-left">
			<a ng-href="#/videos/{{Assunto.id_disciplina}}/{{list.Id}}">
          		<span class="label label-default">{{list.Name}}</span>
          	</a>
          </h4>
          
        </div>
      </div>
 </div>

<hr />
</div>

